.button {
    background: #5cbf88;
    padding: 0.5em 2em;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 0.3s;
    cursor: pointer;
    color: black;

    &:hover {
        color: #ffffff;
        box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    }

    &:disabled {
        opacity: 0.5;
    }
}